<mat-card *ngFor="let user of users">
  <mat-card-header>
    <mat-card-title>{{user.username}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="getPostsByUser(user.id)" mat-raised-button color="primary">Posts</button>
    <button (click)="getAlbumsByUser(user.id)" mat-raised-button color="primary">Albums</button>
    <button (click)="getTodosByUser(user.id)" mat-raised-button color="primary">Todos</button>
  </mat-card-actions>
</mat-card>
